:root {
    --bg: #333333;
    --text: #222;
    --accent: #007acc;
    --font: 'Segoe UI', sans-serif;
    --aura-color: rgba(255, 210, 158, 0.2); /* empieza cálida */
}

@font-face {
    font-family: 'Alientz Grotesque';
    src: url('./assets/fonts/TT\ Alientz\ Trial\ Serif.otf');
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
    font-style: normal;
}

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
  
.scroll-section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #222; /* cada sección puede tener su fondo */
    color: white;
    overflow: hidden;
}

.alientz {
    font-family: 'Alientz Grotesque';
    letter-spacing: 2px;
}

.DMSans {
    font-family: 'DM Sans';
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-y: hidden;
}
  
header {
    position: fixed;
    width: calc(100% - 30px);
    height: 80px;
    padding: 0 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(165, 165, 165, 0.055);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1;
    a {
        padding: 8px 12px;
        font-size: large;
        color: rgb(215 223 214);
        border-radius: 40px;
    }
    a.selected {
        border: 1px solid rgb(215 223 214);
    }
  }
  
main {
    section {
        background-color: #2b2b2b;
    }
    section.main-title-container {
        height: 100vh;
        padding: 100px 5% 0 5%;
        color: #cacdd4;
        background-color: #1a1a1f;
        background-blend-mode: multiply;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'%3E%3C/rect%3E%3C/svg%3E");
        filter: saturate(2.5);
        .card-profile {
            display: flex;
            .card-information {
                width: 60%;
                .main-pretitle {
                    margin: 0;
                    font-size: 24px;
                    opacity: 0.7;
                }
                .main-title {
                    margin: 0;
                    opacity: 0.9;
                    font-size: 66px;
                    line-height: 70px;
                }
                .main-description {
                    margin: 0;
                }
            }
            .card-img {
                width: 40%;
                height: 50vh;
                background: radial-gradient(circle,rgba(204, 213, 235, 0.459) 0%, rgba(237, 221, 83, 0) 40%);
            }
        }
    }
      
    .aura {
        position: relative;
        background: #272727;
        overflow: hidden;
        z-index: 0;
    }
      
    .aura::before,
    .aura::after {
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        border-radius: 50%;
        pointer-events: none;
        filter: blur(150px);
        opacity: 0.25;
        z-index: 0;
    }
  
    .aura::before {
        background: radial-gradient(circle, rgba(255, 200, 150, 0.4), transparent 60%);
        animation: auraWarm 4s ease-in-out infinite alternate;
        mix-blend-mode: screen;
    }
  
    .aura::after {
        background: radial-gradient(circle, rgba(30, 78, 104, 0.4), transparent 60%);
        animation: auraCool 1.5s ease-in-out infinite alternate;
        mix-blend-mode: screen;
    }

    .ambient-aura {
        position: absolute;
        width: 400px;
        height: 400px;
        filter: blur(100px);
        opacity: 0.2;
        mix-blend-mode: screen;
        pointer-events: none;
        z-index: 0;
    }
      
    .aura1 {
        background: radial-gradient(circle at center, rgba(133, 170, 190, 0.4), transparent 60%);
        animation: moveAura1 20s ease-in-out infinite alternate;
    }
      
    .aura2 {
        background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4), transparent 60%);
        animation: moveAura2 25s ease-in-out infinite alternate;
    }
    
    .aura3 {
        background: radial-gradient(circle at center, rgba(30, 78, 104, 0.4), transparent 60%);
        animation: moveAura3 25s ease-in-out infinite alternate;
    }
      
    .aura4 {
        background: radial-gradient(circle at center, rgba(100, 200, 255, 0.4), transparent 60%);
        animation: moveAura4 15s ease-in-out infinite alternate;
    }
    
    .time-bar-container {
        .left-container {
            width: 50%;
            height: 100vh;
            padding: 220px 20px 20px 20px;
            background: rgb(1, 1, 36);
            .time-bar {
                background: blue;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                .event {
                    display: flex;
                    gap: 20px;
                    .event-circle {
                        width: 50px;
                        height: 50px;
                        border: 10px solid rgba(255, 255, 255, 0.308);
                        border-radius: 100%;
                        background: transparent;
                        transition: 0.4s;
                    }
                    .event-title {
                        display: flex;
                        align-items: center;
                    }
                }
                .event.active {
                    .event-circle {
                        background: white;
                    }
                }

                .event:hover {
                    .event-circle {
                        background: white;
                    }
                }
                
                .event-right {
                    flex-direction: row-reverse;
                }

                .event-connector {
                    margin-left: 22.5px;
                    width: 5px;
                    height: 100px;
                    background: rgba(255, 255, 255, 0.308);
                }
                
                .right-down-connector {
                    padding: 0 30px;
                    .pipe:nth-child(1) {
                        width: 10px;
                        height: 10vh;
                        background: rgba(255, 255, 255, 0.308);
                    }
                    .pipe:nth-child(2) {
                        width: 100%;
                        height: 10px;
                        background: rgba(255, 255, 255, 0.308);
                        border-radius: 0 10px 0 10px;
                    }
                    .pipe:nth-child(3) {
                        width: 10px;
                        height: 10vh;
                        background: rgba(255, 255, 255, 0.308);
                        justify-self: end;
                    }
                }
                .left-down-connector {
                    padding: 0 30px;
                    .pipe:nth-child(3) {
                        width: 10px;
                        height: 10vh;
                        background: rgba(255, 255, 255, 0.308);
                    }
                    .pipe:nth-child(2) {
                        width: 100%;
                        height: 10px;
                        background: rgba(255, 255, 255, 0.308);
                        border-radius: 10px 0 10px 0;
                    }
                    .pipe:nth-child(1) {
                        width: 10px;
                        height: 10vh;
                        background: rgba(255, 255, 255, 0.308);
                        justify-self: end;
                    }
                }
            }

        }
        .right-container {
            width: 50%;
            height: 100vh;
            padding: 300px 20px 100px 20px ;
            background: rgb(41, 3, 3);
            overflow-y: hidden;
            position: relative;
            .text-container {
                height: 100%;
            }
        }
    }
}


@keyframes auraWarm {
    0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg) skew(0deg, 0deg);
    }
    50% {
    transform: translate(-50%, -50%) scale(1.2) rotate(2deg) skew(2deg, -2deg);
    }
    100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg) skew(0deg, 0deg);
    }
}

@keyframes auraCool {
    0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg) skew(0deg, 0deg);
    }
    50% {
    transform: translate(-50%, -50%) scale(1.1) rotate(-3deg) skew(-1deg, 1deg);
    }
    100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg) skew(0deg, 0deg);
    }
}

@keyframes moveAura1 {
    0% {
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
        top: 55%;
        left: 40%;
    }
    100% {
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1) rotate(5deg);
    }
}
  
@keyframes moveAura2 {
    0% {
      top: 70%;
      left: 70%;
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
        top: 55%;
        left: 90%;
    }
    100% {
      top: 40%;
      left: 60%;
      transform: translate(-50%, -50%) scale(1.2) rotate(-4deg);
    }
}
@keyframes moveAura3 {
    0% {
      top: 10%;
      left: 15%;
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
        top: 55%;
        left: 90%;
    }
    100% {
      top: 30%;
      left: 40%;
      transform: translate(-50%, -50%) scale(1.1) rotate(5deg);
    }
}
@keyframes moveAura4 {
    0% {
      top: 90%;
      left: 70%;
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
        top: 15%;
        left: 90%;
    }
    100% {
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%) scale(1.2) rotate(-4deg);
    }
}

h1, h2, h3 {
    margin-bottom: 0.5rem;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

.skills li {
    background: var(--accent);
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    font-size: 0.9rem;
}
  