@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
  font-style: normal;
}

:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #5c0555;
  --clr-primary-a10: #6f2866;
  --clr-primary-a20: #814378;
  --clr-primary-a30: #935d8b;
  --clr-primary-a40: #a5779d;
  --clr-primary-a50: #b791b0;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1a1319;
  --clr-surface-tonal-a10: #2f282e;
  --clr-surface-tonal-a20: #453f44;
  --clr-surface-tonal-a30: #5d585c;
  --clr-surface-tonal-a40: #767175;
  --clr-surface-tonal-a50: #908c8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  color: var(--clr-light-a0);
  font-family: 'DM Sans', sans-serif;
  opacity: 0.8;
  border-bottom: 1px solid #ddcc355b; /* azul React jeje */
}

h3 {
  font-size: 1.2rem;
  color: var(--clr-light-a0);
  font-family: 'DM Sans', sans-serif;
  opacity: 0.8;
}

h4 {
  font-size: 1rem;
  color: var(--clr-light-a0);
  font-family: 'DM Sans', sans-serif;
  opacity: 0.8;
}

p, a, input, textarea, span {
  font-size: 1rem;
  color: var(--clr-light-a0);
  font-family: 'DM Sans', sans-serif;
  opacity: 0.8;
}

@media (max-width: 768px) {
  h2, h3, h4 {
    font-weight: normal;
  }
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p, a, input, textarea, span {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.9rem;
    }

    h4 {
      font-size: 0.8rem;
    }

    p, a, input, textarea, span {
      font-size: 0.8rem;
    }
}

body {
  background-image: url(/assets/img/bbblurry-01.svg);
  background-size: cover;
  background-repeat: repeat;
  background-color: #0e0e0e;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  line-height: 1.6;
  transition: 0.4s;
  @media screen and (max-width: 800px) {
    background-image: url(/assets/img/bg-mobile.png);
  }
}

body::-webkit-scrollbar {
    width: 10px;
}
        
body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
    border: 0;
}
            
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: #ffffff85;
    background-clip: content-box;
}

section {
  padding: 3rem 1rem;
  @media screen and (max-width: 800px) {
    padding: 1rem 1rem;
  }
}

.contenedor {
  max-width: 1000px;
  margin: auto;
  @media screen and (max-width: 1000px) {
    margin: auto 2rem;
  }
  @media screen and (max-width: 600px) {
    margin: auto 0.5rem;
  }
}

.hidden {
  width: 0 !important;
  height: 0 !important;
  color: transparent !important;
  * {
    display: none;
  }
}

.focus-effect {
  position: relative;
  span {
    border-radius: 10px;
  }
  .effect-8 {
    border: 1px solid #cccccc4d;
    padding: 7px 14px 9px;
    transition: 1s;
  }
  .effect-8~.focus-border:before,
  .effect-8~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e2c20b;
    transition: 0.6s;
  }

  .effect-8~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }

  .effect-8~.focus-border i:before,
  .effect-8~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #e2c20b;
    transition: 0.6s;
  }

  .effect-8~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }

  .effect-8:focus~.focus-border:before,
  .effect-8:focus~.focus-border:after {
    width: 100%;
    transition: 0.6s;
  }

  .effect-8:focus~.focus-border i:before,
  .effect-8:focus~.focus-border i:after {
    height: 100%;
    transition: 0.6s;
  }
}

