#skills {
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        h2 {
            width: 50%;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
        @media screen and (max-width: 800px) {
            flex-direction: column;
            h2:nth-child(2) {
                order: 3;
            }
        }
    }
    .experience-container {
        width: 50%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px) {
            width: 100%;
            padding: 1.5rem 0rem;
        }
        .experience-row {
            display: flex;
            gap: 10px;
            .experience-item {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 20px;
                .experience-item-description {
                    color: #ccc;
                }
            }
            
        }
        .experience-track {
            display: flex;
            flex-direction: column;
            width: 50px;
            .track-point {
                position: relative;
                top: -13px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-size: 100%;
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="%23e2c20b" id="star"><path d="M 6.9930077399405945 356.64335216175425 C 1000 1000 1000 1000 1181.818169013604 286.71328393896147 C 1000 1000 1000 1000 1520.979071343695 1349.6503744058675 C 1000 1000 1000 1000 821.6783357633576 1734.2657556066981 C 1000 1000 1000 1000 6.9930077399405945 356.64335216175425" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>');
                filter: drop-shadow(0 0 5px #ffd23e6c);
            }
            .track-line {
                position: relative;
                top: -13px;
                align-self: center;
                height: calc(100% - 50px);
                background: #e2c20b;
                position: relative;
                width: 5px;
                border-radius: 10px;
                filter: drop-shadow(0 0 5px #ffd23e6c);
            }
        }
    }
    .grid-skills {
        width: 50%;
        padding: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        order: 4;
        justify-content: center;
        @media screen and (max-width: 800px) {
            width: 100%;
            padding: 1rem 0rem 0;
            gap: 0px;
        }
        .grid-skill-container {
            padding: 5px;
            flex: 1 1 20%;
            transition: 0.4s;

            .skill-image {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.1);
                justify-self: center;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            p {
                text-align: center;
                margin-top: 0.5rem;
            }
        }

        .grid-skill-container:hover {
            transform: scale(1.05);
            filter: drop-shadow(0 0 5px #ffd23e6c);
        }
    }
}