#contacto {
    padding: 50px 20px;
    text-align: center;
    a {
        text-decoration: none;
    }
    .contenedor {
        padding: 2rem;
        display: flex;
        background: #c2a61b;
        background: linear-gradient(10deg, rgb(185, 126, 16) 0%, rgba(253, 236, 45, 1) 100%);
        border-radius: 10px;
        filter: drop-shadow(0 0 5px #ffd23e6c);
        transition: 0.4s;
        @media screen and (max-width: 700px) {
                flex-direction: column;
            }
        .contacto-hero {
            width: 60%;
            display: flex;
            flex-direction: column;
            text-align: left;
            @media screen and (max-width: 700px) {
                width: 100%;
            }
            h3:first-child {
                font-size: 3rem;
                color: rgba(255, 255, 255, 0.925);
                @media screen and (max-width: 700px) {
                    font-size: 2rem;
                }
            }
            h3 {
                font-size: 2rem;
                color: rgba(255, 255, 255, 0.925);
                @media screen and (max-width: 700px) {
                    font-size: 1.3rem;
                }
            }
        }
        .contacto-mail {
            width: 40%;
            display: flex;
            text-align: right;
            gap: 20px;
            @media screen and (max-width: 700px) {
                width: 100%;
                gap: 10px;
                margin-top: 10px;
            }
            p {
                align-self: center;
                font-size: 2rem;
                color: #b35305;
                @media screen and (max-width: 700px) {
                    font-size: 1.3rem;
                }
            }
            img {
                align-self: center;
                width: 32px;
                height: 32px;
            }
        }
    }
    .contenedor:hover {
        transform: translateX(10px);
        @media screen and (max-width: 700px) {
            transform: none; 
        }
    }
} 