#hero {
    height: calc(100vh);
    padding-top: 60px;
    display: flex;

    @media screen and (max-width: 1000px) {
        height: auto;
        overflow: hidden;
    }
    .contenedor {
        display: flex;
        align-self: center;
        gap: 30px;

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }

        @media screen and (max-width: 600px) {
            padding: 0;
            margin: 0;
        }

        .hero-content-left {
            width: 50%;
            text-align: left;
            height: 100%;

            @media screen and (max-width: 800px) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            .hero-status {
                display: flex;
                align-items: center;
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                background: #285ba82d;
                border: 1px solid #ffffff1a;
                padding: 10px 15px;
                border-radius: 10px;
                margin-top: 10px;
                color: #ccc;
                position: relative;
                bottom: -30px;
                z-index: 5;
                @media screen and (min-width: 800px) {
                    width: 100%;
                }
                P {
                    position: relative;
                    bottom: -1px;
                }

                .hero-status-icon {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #3a7bdd;
                    filter: drop-shadow(0 0 5px #3a7bdd);
                    display: inline-block;
                    margin-right: 10px;
                    animation: pulseGlow 3s ease-in-out infinite;
                }

                @media screen and (max-width: 800px) {
                    bottom: 0px;
                }
            }

            .hero-presentation {
                font-family: 'DM Sans';
                color: #ffffff9c;
                margin-bottom: 1rem;
                position: relative;
                bottom: -50px;
                width: 100%;

                @media screen and (max-width: 800px) {
                    bottom: -35px;
                    position: relative;
                    left: 10px;
                }
            }

            .hero-main-title {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 0 1rem;
                margin-bottom: 0px;

                @media screen and (max-width: 800px) {
                    width: 50%;
                    position: relative;
                    left: 25px;
                }
            }

            .hero-uxui-image {
                width: 200px;
                height: 200px;
                background-image: url(/assets/img/UXUI-1.png);
                background-size: 100% auto;
                background-position: 0px;
                background-repeat: no-repeat;
                filter: drop-shadow(0 0 30px #ffd23e6c);
                cursor: pointer;
                transition: 0.4s ease;
                animation: shakeIt 0.5s ease-in-out infinite;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-duration: 5s;
                @media screen and (max-width: 800px) {
                    width: 150px;
                    height: 150px;
                }

                @media screen and (max-width: 600px) {
                    width: 100px;
                    height: 100px;
                }
            }
            .hero-uxui-image.clicked {
                animation: none;
                background-image: url("/assets/img/UXUI-4.png");
                transform: scale(1.05);
                filter: drop-shadow(0 0 30px #3cabad6c);
                cursor: default;
            }
            .hero-uxui-image:hover {
                opacity: 0.85;
            }
            .hero-uxui-image.clicked:hover {
                opacity: 1;
            }

            .hero-and-image {
                font-size: 50px;
                font-family: 'DM Sans';
                color: #e6b140e5;
                filter: drop-shadow(0 0 30px #ffd23e6c);
                font-weight: 700;
                position: relative;
                top: 15px;

                @media screen and (max-width: 800px) {
                    font-size: 40px;
                    top: 11px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 30px;
                    top: 7px;
                }
            }
            .hero-and-image.clicked {
                color: #3cabad;
                filter: drop-shadow(0 0 30px #3cabad6c);
            }

            .hero-frontend-image {
                font-family: 'DM Sans';
                font-size: 50px;
                color: #e6b140e5;
                font-weight: 700;
                filter: drop-shadow(0 0 30px #ffd23e6c);
                text-align: right;
                font-style: italic;
                position: relative;
                top: 15px;

                @media screen and (max-width: 1006px) and (min-width: 800px) {
                    font-size: 50px;
                    top: -45px;
                    width: 100%;
                    text-align: right;
                }

                @media screen and (max-width: 800px) {
                    font-size: 45px;
                    top: -40px;
                    width: 100%;
                    text-align: left;
                }

                @media screen and (max-width: 600px) {
                    font-size: 30px;
                    top: -35px;
                    width: 100%;
                    text-align: left;
                }
            }

            .hero-frontend-image.clicked {
                color: #3cabad;
                filter: drop-shadow(0 0 30px #3cabad6c);
            }

            .hero-image-container-mobile {
                width: 50%;
                min-height: 200px;
                filter: drop-shadow(0 0 20px #ffd23e6c);

                @media screen and (min-width: 800px) {
                    display: none;
                }

                @media screen and (max-width: 600px) {
                    min-height: 150px;
                }
            }

            .hero-image {
                justify-self: end;
                width: 250px;
                min-height: 200px;
                position: absolute;
                transform: translateY(-90px);
                @media screen and (max-width: 600px) {
                    min-height: 160px;
                    width: 200px;
                }
            }
        }

        .hero-main-description {
            font-family: 'DM Sans';
            text-align: right;
            color: #ccc;
            @media screen and (max-width: 800px) {
                backdrop-filter: blur(30px);
                -webkit-backdrop-filter: blur(20px);
                /* pa’ que funcione en Safari */
                background: rgba(41, 41, 41, 0.274);
                padding: 20px;
                border: 1px solid #cccccc2d;
                border-radius: 20px;
            }
            .link-container {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: end;
                margin: 1rem 0;
                text-decoration: none;
                font-size: 1rem;
                color: #ffffff;

                span {
                    position: relative;
                }

                span::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    /* grosor del subrayado */
                    background: #e2c20b;
                    /* color del subrayado */
                    border-radius: 3px;
                    transform: scaleX(0);
                    transform-origin: left;
                    /* empieza desde la izquierda */
                    transition: transform 0.3s ease;
                    filter: drop-shadow(0 0 5px #ffd23e6c);
                }

                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 5px;
                    transition: 0.4s;
                }
                @media screen and (min-width: 800px) {
                    &:hover {
                        span::after {
                            transform: scaleX(1);
                        }

                        img {
                            filter: drop-shadow(0 0 5px #ffd23e6c);
                        }
                    }
                }
            }
        }

        .hero-content-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            @media screen and (max-width: 800px) {
                width: 100%;
            }

            .hero-image-container {
                position: absolute;
                top: 15vh;
                filter: drop-shadow(0 0 10px #ffd23e44);
            }

            .hero-image {
                width: auto;
                height: max-content;
                max-height: 50vh;
                @media screen and (max-width: 1415px) {
                    max-height: 55vh;
                }
                @media screen and (max-width: 1015px) {
                    max-height: 65vh;
                }
                @media screen and (max-width: 800px) {
                    display: none;
                }
            }

            .button-group {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 20px;
                @media screen and (max-width: 800px) {
                    margin-top: 0px;
                    flex-direction: row;
                    text-align: center;
                    justify-content: space-around;
                    gap: 10px 20px;
                }
                @media screen and (min-width: 800px) {
                    backdrop-filter: blur(30px);
                    -webkit-backdrop-filter: blur(20px);
                    /* pa’ que funcione en Safari */
                    background: rgba(41, 41, 41, 0.274);
                    padding: 20px;
                    border: 1px solid #cccccc2d;
                    border-radius: 20px;
                    width: calc(100% - 40px);
                    flex-direction: column;
                }
                .group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                P {
                    color: #ececec;
                    margin-bottom: 5px;
                    text-wrap: wrap;
                }
            }
        }
    }
}

@keyframes pulseGlow {

    0%,
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px #3a7bdd);
    }

    50% {
        transform: scale(1.15);
        filter: drop-shadow(0 0 8px #3a7bdd);
    }
}

@keyframes shakeIt {
    0%, 90%, 100% {
        transform: translate(0, 0);
    }
    92% {
        transform: translate(-3px, 0) rotate(-3deg);
    }
    94% {
        transform: translate(3px, 0) rotate(3deg);
    }
    96% {
        transform: translate(-3px, 0) rotate(-3deg);
    }
    98% {
        transform: translate(3px, 0) rotate(3deg);
    }
}