header {
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 0 0 10px;
    color: #ffffffb7;
    .contenedor-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: none !important;
        margin: 0 0;
        padding: 10px 25px;
        background: #0f0f0f;
        filter: drop-shadow(0 0 30px #ffd23e17);
    }
    
    .clear {
        width: 172.69px;
    }
}

.main-title {
    text-decoration: none;
    h1 {
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        color: #ffffff9c;
        transition: 0.4s;
        &:hover {
            color: #ffffff;
        }
    }
} 

nav {
    display: flex;
    position: relative;
    display: flex;
    gap: 0 2rem;
    padding: 1rem 2rem;
    .nav-indicator {
        position: absolute;
        bottom: 0;
        height: 4px; /* grosor del subrayado */
        width: 0;
        background: #e2c20b;
        filter: drop-shadow(0 0 5px #ffd23e6c);
        border-radius: 2px;
        transition: all 0.3s ease;
        margin-bottom: 5px;
    }
    .nav-link {
        position: relative;
        text-decoration: none;
        padding: 0;
        line-height: 10px;
        color: #ffffff9c;
        text-decoration: none;
        font-weight: 500;
        margin-bottom: 5px;
        transition: 0.4s;
        &:hover {
            color: #ffffff;
        }
    }
} 