#services {
    padding-top: 100px;
    @media screen and (max-width: 800px) {
        padding-top: 65px;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        @media (max-width: 700px) {
            gap: 10px;
        }  
        h2 {
            width: 100%;
            margin-bottom: 6px;
        }
        .service-card {
            position: relative;
            flex: 1 1 calc(33% - 20px); /* Crece y se encoge, con un tamaño base de 300px */
            min-width: 180px;
            border: #ffffff42 solid 1px;
            border-radius: 10px;
            background-size: cover;      /* hace que la imagen cubra toda la card */
            background-position: center; /* centra la imagen */
            background-repeat: no-repeat;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            filter: drop-shadow(0 0 15px #7c7c7c6c);
            @media (max-width: 700px) {
                flex: 1 1 100%;
            }   
            .card-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #000000a1; /* fondo semitransparente para mejorar la legibilidad */
                padding: 20px;
                color: #e4e4e4;   /* texto sobre la imagen */
                h3 {
                    margin: 15px 0 0 10px;
                    text-align: center;
                }
            }
            .card-body {
                background-color: #000000de; /* fondo semitransparente para mejorar la legibilidad */
                padding: 20px;
                height: 100%;
                p {

                    color: #e0e0e0;   /* texto sobre la imagen */
                    line-height: 1.4;
                }
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
                z-index: -1;       /* Coloca la imagen detrás del contenido */
                opacity: 0.5;     /* Hace la imagen semi-transparente */
            }
            &:hover {
                box-shadow: 0 0 15px #ffd23e6c;
                transform: scale(1.01);
                transition: transform 0.4s, box-shadow 0.4s;
            }
        }
        .contact-link {
            width: 100%;
            text-align: end;
            margin-top: 20px;
            p {
                color: #ccc;
                margin-bottom: 20px;
            }
            .btn {
                position: relative;
                color: #8b4a15;
                padding: 0.5rem 2rem 0.5rem 1rem;
                border-radius: 5px;
                font-weight: 600;
                background: linear-gradient(10deg, rgb(216, 152, 34) 0%, rgba(253, 236, 45, 1) 100%);
                filter: drop-shadow(0 0 5px #ffd23e6c);
                text-decoration: none;
                transition: 0.4s;
                z-index: 2;
                &:hover {
                    opacity: 0.9;
                }
            }
            .btn::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: url('/assets/img/icons/right-arrow.png');
                background-size: cover;
                position: absolute;
                right: 12px;
                top: calc(50% - 8px);
                bottom: 50%;
                transition: 0.4s;
                z-index: 1;
            }
            .btn:hover:after {
                right: 5px;
            }
        }
    }
}